include mixin/panel.jade

doctype html
head
    title SMQTK-Clique

    script(src="bower_components/jquery/dist/jquery.min.js")
    link(rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css")
    script(src="bower_components/jquery-ui/jquery-ui.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js")
    script(src="bower_components/d3/d3.min.js" charset="utf-8")
    script(src="bower_components/webcola/WebCola/cola.min.js")
    script(src="bower_components/clique/clique.js")
    script(src="bower_components/clique/clique-views.js")
    script(src="bower_components/esprima/esprima.js")
    script(src="bower_components/js-yaml/dist/js-yaml.js")
    script(src="plugin/tangelo/tangelo.js")

    link(rel="stylesheet" href="bower_components/bootswatch/paper/bootstrap.min.css")
    link(rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
    link(rel="stylesheet" href="index.css")

    script(src="plugin/mongo/mongo.js")

    script(src="index.js")

body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand SMQTK-Clique
            .collapse.navbar-collapse
                form.navbar-form.navbar-left
                    .checkbox.navbar-btn
                        label.navbar-link(for="show-zoom")
                            input(type="checkbox" checked)#show-zoom
                            span Show zoom control

                form.navbar-form.navbar-left
                    .checkbox.navbar-btn
                        label.navbar-link(for="show-link")
                            input(type="checkbox")#show-link
                            span Show link info

                form.navbar-form.navbar-left
                    .checkbox.navbar-btn
                        label.navbar-link(for="show-screencap")
                            input(type="checkbox" checked)#show-screencap
                            span Show screencap preview

                form.navbar-form.navbar-left
                    .checkbox.navbar-btn
                        label.navbar-link(for="colorblind")
                            input(type="checkbox")#colorblind
                            span Use colorblind-friendly colormap

                form#distanceslider.navbar-form.navbar-left
                    .row
                        .text-center Mix distance values
                    .row
                        input(type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="1")#slider


    svg(oncontextmenu="return false;")#content

    div.menu-panel(style="position:absolute; left:10px")
        nav.panel-group#zoom-control
            ul.pagination
                li#zoom-out.disabled #[a(href="#" aria-label="Previous") #[span -]]
                li #[a#zoom-val(href="#" style="cursor: default;") (placeholder)]
                li#zoom-in #[a(href="#") +]

        +panel("link", "Link")(style="width:380px; display:none;")
            .row
                .col-md-12
                    #link-info

        .panel-group#screencap

    #contextmenu.dropdown.clearfix(style="position: absolute; display: none")
        ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px")
            li.dropdown-header.nodelabel
            li #[a.context-open(href="#") Open full screencap]
            li #[a.context-expand(href="#") Expand]
            li #[a.context-hide-others(href="#") Hide others]
            li #[a.context-hide(href="#") Hide]
